<header>
    <h1>{{title}}</h1>

<!-- La <NAV>etiqueta define un conjunto de enlaces de navegación. -->
        <nav id="topnav" class="bg-ligth">
            <div>
                <a class="active" href="#"> Clima </a>
                <img class="active" src="/images/weather.png" alt="Ortho Dental" style="width:50px"/>
                <div class="icon">
                    <a href="javascript:void(0);" onclick="openNav()">
                        <span style="font-size:20px;cursor:pointer" onclick="openNav()">&#9776; open</span>
                    </a>
                </div>
                <div class="split">
                   <a href="/">Weather</a>
                   <a href="/about">About</a>
                   <a href="/help">Help</a>
                </div>
            </div>          
        </nav> 
</header>

