<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link href="/css/Style.css" rel="stylesheet" type="text/css"/>
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This site use data from WheaterStack</p>
        <img class="portrait" src="/images/weather.png">
    </div>
    
    {{>footer}}
</body>

</html>
  