<!DOCTYPE html>

<html>

<head>
    <link rel="icon" href="/img/weather.png">
    <link href="/css/Style.css" rel="stylesheet" type="text/css"/>
</head>

<body>
    <div class="main-content">
        {{>header}}
    </div>

    {{>footer}}
</body>

</html>
